/* Sim alanı tam ekran */
#sim {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: #111;
  }
  
  /* Creet görünümü */
  .creet {
    position: absolute;
    width: 20px;
    height: 20px;
    background: lime;
    border-radius: 50%;
  }
  